link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet",type="text/css")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/jquery/dist/jquery.validate.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
link(href="/css/normalize.css",rel="stylesheet",type="text/css")
//- link(href="/css/demo.css",type="text/css",rel="stylesheet")
link(href="/css/set1.css",rel="stylesheet",type="text/css")
//- link(href="/css/set2.css",rel="stylesheet",type="text/css")