extends ../layout.jade

block content
	.container
		.row
			form.form-horizontal(method="post" action="/admin/movie/new")
				input(type="hidden",name="_id",value="#{movie._id}")
				//- input(type="hidden",name="_id" )
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 名称 
					.col-sm-10 
						input#inputTitle.form-control(type="text" name="title" )
				.form-group
					label.col-sm-2.control-label(for="inputPoster") 图片地址
					.col-sm-10 
						input#inputPoster.form-control(type="text" name="poster")
				.form-group
					label.col-sm-2.control-label(for="inputFlash") 影片地址
					.col-sm-10 
						input#inputFlash.form-control(type="text" name="flash")
				.form-group
					label.col-sm-2.control-label(for="inputSummary") 简介
					.col-sm-10 
						input#inputSummary.form-control(type="text" name="summary")
				.form-group
					label.col-sm-2.control-label(for="inputType") 类型
					.col-sm-10 
						input#inputType.form-control(type="text" name="type")
				.form-group
					input.col-sm-2.form-control(type="submit" value="提交") 		

																