extends ../layout

block content
	.container
		.row
			form(method='POST' action="/user/signup")
				.form-group
					label.control-label(for='name') 用户名
					input#name.form-control(name="name" type='text')
				.form-group
					label.control-label(for='password') 密码
					input#password.form-control(name="password" type='password')
				.form-group
					input.form-control(type='submit' value='提交')		