doctype
html
	head
	meta(charset='utf-8')
	title #{titile}
	link(rel='stylesheet' href='/css/layout.css')
	include ./includes/head
body
	.headContainer
		a(href='/' id='logo') 
			img(width='120' height='42' src='/img/logo.png')
		include ./includes/header
	.contentContainer
		block content